body {
	background-color: black;
	text-decoration: none;
}

a {
	color: black;
}

.galleryWrapper {
	font-family: futura;
	width: 100%;
}

.container {
	text-align: center;
}

#navbar{
	background-color: #2eff8e;
	color: black;
}

.jumbotron {
	color: #ff2e9f;
	background-color: rgba(255,255,255,.1);
}